<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<table>
    <tr>
        <th>ID</th>
        <th>Customer</th>
        <th>CustomerAddress</th>
        <th>Payment Method</th>
        <th>Delivery Method</th>
        <th>Products</th>
        <th>Payment Status</th>
        <th>Order Status</th>


    </tr>
    <tr th:each="order : ${orders}">

        <td th:inline="text"><a th:href="'/order/'+ ${order.id}">[[${order.id}]]</a></td>
        <td th:text="${order.customer}"></td>
        <td th:text="${order.customerAddress}"></td>
        <td th:text="${order.paymentMethod}"></td>
        <td th:text="${order.deliveryMethod}"></td>
        <td th:text="${order.products}"></td>
        <td th:text="${order.paymentStatus}"></td>
        <td th:text="${order.orderStatus}"></td>

    </tr>

</table>

</body>
</html>